{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Films</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="{% static 'final/styles.css' %}" rel="stylesheet">
        <script src="{% static 'final/index.js' %}"></script>
        
    </head>
    <body>
        <div style="display: none;" id="user_id">{{ request.user.username }}</div>
        {% block body %}
        {% endblock %}
    </body>
</html>